{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arts and Crafts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
    <!-- Main -->
    <main class="main display-products">
        <!-- cart.html -->
    <h1>Your Cart</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.title }} - Quantity: {{ cart.product }}</li>
        {% endfor %}
    </ul>
    </main>
</body>
</html>
