<!-- myapp/templates/image_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Image List</title>
</head>
<body>
    <h2>Image List</h2>
    <ul>
        {% for image in images %}
        <li>
            <h3>{{ image.title }}</h3>
            <p>{{ image.description }}</p>
            <p>{{ image.price }}</p>
            <img src="{{ image.image.url }}" alt="{{ image.title }}" width="200"/>
            <p>{{ image.category }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
