{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'productView.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <script src="{% static 'main.js' %}" defer></script>
</head>
<body>
    <main class="main">
        <!-- Product Section -->
        <section class="product">
            <div class="product_container">
                <div class="product_image">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                </div>
                <div class="product_details">
                    <h2 class="product_title">{{product.title}}</h2>
                    <p class="product_price">{{product.price}}</p>
                    <p class="product_description">
                        {{product.description}}
                    </p>
                    <a href="{% url 'addToCart' product.id %}" class="button button--flex">Add to Cart</a>
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>
